<h2>Todays Attendance</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Hours</th>
      <th>Status</th>
      <th>Late?</th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_records.each do |record| %>
      <tr>
        <td><%= record.employee.first_name %></td>
        <td><%= record.date %></td>
        <td><%= record.check_in&.strftime("%I:%M %p") %></td>
        <td><%= record.check_out&.strftime("%I:%M %p") %></td>
        <td><%= record.hours_worked %></td>
        <td><%= record.status.humanize %></td>
        <td>
          <% if record.late? %>
            <span>Late</span>
          <% else %>
            On Time
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>